.ProfileContainer {
    background-color: #fff;

}

.newListModal {
    height: 30em;
}

.listForm {
    padding: 2em;
}

.tagsWrapper {
    display: flex;
    flex-wrap: wrap;

}

.tag {
    flex: none;
}